<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="return"></div>
  </body>
</html>

<script>
  const a = 6;
  const b = 7;

  if (a + b > 10) {
    document.querySelector(".return").innerHTML = "10보다 큽니다.";
  } else {
    document.querySelector(".return").innerHTML = "10보다 작습니다.";
  }
</script>
