<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/search.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 목록</title>
  </head>
  <body>
    <table>
      <tr>
        <th>이메일</th>
        <th>회원이름</th>
        <th>나이</th>
      </tr>
      <tbody id="userTable"></tbody>
    </table>
    <a href="/user">홈으로 이동</a>
  </body>
  <script src="/js/search.js"></script>
</html>
